<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/Projeto_Web_Unidombosco/static/css/style_inical.css">
    <title>Homepage</title>
</head>
<body>
    <div>
        <div>
            <h1>Bem Vindo à <br> SoulCar</h1>
        </div>
        <div>
            <div>
                    <h2>Portal</h2>
            <button onclick="location.href ='/lista_cadastro'">Registros</button>
            <button onclick="location.href ='cadastro.html'">Cadastro</button>
        </div>
    </div>
</body>
</html>