<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Bem Vindo à <br> SoulCar</h1>
        </div>
        <div class="right-login">
                <div class="card-login">
                    <h2>Portal</h2>
            <button class="btn-login" onclick="location.href ='/lista_cadastro'">Registros</button>
            <button class="btn-login" onclick="location.href ='cadastro.html'">Cadastro</button>
        </div>
    </div>
</body>
</html>