@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Ubuntu:wght@300;400;500&display=swap');

body {
    margin: ;
    font-family: 'Noto Sans', sans-serif;
    background: #201b2c;
}
body * {
    box-sizing: content-box;
}

.cad01 {
    width: 100vw;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #fff;
}
.cad02 {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #fff;
}
h1{
    color: #fff;
    justify-content: center;
    align-items: center;  
    text-align: center;
    font-size: 3.5em;
}
